.top-info {
  padding-top: 50px;
}

.for {
  margin-top: 64px;
  margin-bottom: 64px;
}

.for .heading {
  margin: 64px 0 32px;
  line-height: 59px;
  height: 59px;
  border-radius: nullpx;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.dog-img {
  width: 228px;
  height: 480px;
  padding-left: 40px;
  margin-bottom: 130px;
  text-align: center;
  color: aqua;
}

.dog-img:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}

.for__item {
  height: 415px;
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 11.4s;
}

.for__item:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.for__item_1 {
  text-decoration: none;
  border-radius: 25px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-position: center;
  background-image: url(img/info-content.png);
}

.for__item_2 {
  text-decoration: none;
  border-radius: 25px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-position: center;
  background-image: url(img/info-content.png);
}

.for__item_3 {
  text-decoration: none;
  border-radius: 25px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-position: center;
  background-image: url(img/info-content.png);
}

.for__item_4 {
  text-decoration: none;
  border-radius: 25px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-position: center;
  background-image: url(img/info-content.png);
}

.for__item-name {
  font-size: 34px;
  line-height: 41px;
  align-items: center;
  text-align: center;
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/body-color.jpeg);
  background-color: rgb(255, 255, 255);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  width: 100%;
  height: 400px;
  background-image: url(img/pethome/top-img2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 430px;
}

.top .header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top .header__contacts {
  background-color: rgba(53, 53, 53, 0.229);
  text-align: center;
  height: 40px;
  width: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-contacts-text {
  font-size: 18px;
}

.top .header__box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.top .header__logo {
  height: 300px;
  width: 300px;
}

.top .header__menu {
  width: 850px;
  height: 130px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.menu-link-box {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.top .header__img {
  width: 300px;
  height: 300px;
}

.top .header .menu__link {
  text-align: center;
  text-decoration: none;
  color: rgb(4, 0, 0);
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  width: 100%;
  height: 40px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.168627451);
  background-image: url("data:image/svg+xml"), linear-gradient(to bottom, rgba(220, 111, 9, 0.337254902) 0%, rgba(229, 229, 229, 0.3882352941) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .header .menu__link:hover {
  background: rgba(213, 213, 213, 0.361);
}

.menu__link:hover {
  background: rgb(107, 107, 107);
}

.top .header .header__button-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 420px;
  padding-left: 40px;
  gap: 10px;
}

.header__button-box {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding-left: 18px;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 102, 102, 0.665);
  width: 300px;
  height: 60px;
  text-align: center;
  color: rgb(5, 5, 5);
  text-decoration: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  outline: none;
  border-style: inset;
  border-color: rgba(160, 160, 160, 0.642);
  font-family: sans-serif;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 0, 0, 0.5803921569);
  background-image: url("data:image/svg+xml"), linear-gradient(to bottom, rgba(220, 111, 9, 0.337254902) 0%, rgba(229, 229, 229, 0.3882352941) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.header__button:hover {
  background: rgba(59, 57, 57, 0.1);
}

.top .title {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  display: flex;
  align-items: flex-end;
}

.title__name {
  font-size: 44px;
}

.top-content {
  padding-top: 50px;
  width: 100%;
}

.top-content__title {
  margin-bottom: 20px;
  text-align: center;
}

.top-content .content {
  height: 255px;
  grid-column: span 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0.5px solid rgba(2, 2, 2, 0.8);
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  background-color: rgb(201, 201, 201);
  font-weight: 700;
  color: #444;
  background-image: url(img/pethome/Tuzik.jpeg);
}

.center-info {
  text-align: justify;
  text-indent: 50px;
}

.content::-ms-expand {
  display: none;
}

.content:hover {
  border-color: #888;
}

.content:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.content option {
  font-weight: normal;
}

*[dir=rtl] .select-form, :root:lang(ar) .select-form, :root:lang(iw) .select-form {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.content:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.top-content .content__logo {
  width: 150px;
  height: 155px;
  display: contents;
}

.top-content .content .content-img {
  width: 120px;
  height: 125px;
}

.top-content .content__item {
  width: 100%;
  text-align: center;
  height: 155px;
  display: grid;
}

.top-content .content .content-link {
  text-decoration: none;
}

.top-informations .info {
  margin-bottom: 130px;
}

.top-informations .info__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-informations .info__content {
  display: flex;
  justify-content: space-between;
}

.top-informations .info__content .info-logo-text {
  display: flex;
}

.top-informations .info__content .info-logo {
  height: 30px;
  width: 30px;
}

.top-informations .info__content .info-body {
  width: 415px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.top-informations .info__content .info-logo-img {
  height: 30px;
  width: 30px;
}

.top-informations .info__content .img-info {
  width: 508px;
  height: 250px;
}

.license-title {
  margin-bottom: 50px;
  margin-top: 40px;
  text-align: center;
}

.license-img-box {
  border: 1px solid #aaa;
  padding-top: 60px;
  margin-bottom: 60px;
}

.top-informations .license__img {
  width: 390px;
  height: 220px;
  padding-left: 40px;
  margin-bottom: 130px;
}

.license__img:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}

.courses-box-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.courses-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid #aaa;
  height: 600px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid #aaa;
}

.courses-item {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #aaa;
  font-size: 25px;
}

.courses-item-big {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-item-small {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-item-text {
  text-align: center;
}

.courses-item-button {
  width: 100%;
  height: 100%;
  background-color: rgb(249, 201, 146);
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  border-style: inset;
  border-color: rgba(160, 160, 160, 0.642);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.courses-item-button:hover {
  background: rgb(255, 218, 206);
}

.courses-item-button:active {
  background: rgb(249, 201, 146);
  color: white;
}

.header__button:active {
  background: red;
  color: white;
}

.top-informations .popular {
  padding-left: 40px;
  padding-right: 40px;
}

.top-informations .popular__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-informations .popular .product-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-informations .popular .product-text-info {
  display: grid;
  border-right: 0.5px solid rgba(2, 2, 2, 0.8);
}

.product-text-center {
  border-top: 0.5px solid rgba(2, 2, 2, 0.8);
  border-bottom: 0.5px solid rgba(2, 2, 2, 0.8);
}

.top-informations .popular .product-price {
  display: flex;
  gap: 40px;
  width: 400px;
}

.top-informations .popular .product-box {
  display: flex;
  justify-content: space-between;
  height: 300px;
  border: 0.5px solid rgba(2, 2, 2, 0.8);
}

.top-informations .popular .product-form-price {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.top-informations .popular .popular-item {
  grid-column: span 3;
  text-align: center;
}

.top-informations .popular .popular-item-price {
  grid-column: span 3;
  text-align: center;
}

.top-informations .popular .popular-button-box {
  grid-column: span 2;
}

.top-informations .popular .popular-button {
  width: 100%;
  background-color: rgb(114, 179, 219);
  border-radius: 4px;
}

.button-services {
  width: 174px;
}

.footer {
  padding-top: 30px;
  width: 100%;
  height: 250px;
  background-color: rgb(60, 60, 60);
}

.footer__title {
  color: white;
  margin-bottom: 14px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 40px;
  padding-right: 40px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  height: 94px;
}

.footer__menu .footer-link {
  color: white;
  text-decoration: none;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  height: 94px;
  gap: 14px;
}

.footer .footer-text {
  color: white;
}

.logo-social {
  display: flex;
  justify-content: space-between;
}
.logo-social .img-social {
  width: 50px;
  height: 50px;
}

.box-list-main {
  background-color: rgb(201, 201, 201);
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid rgba(2, 2, 2, 0.8);
  width: 100%;
  background-color: white;
}

.top-galary {
  width: 100%;
  height: 200px;
}

.top-service {
  margin-bottom: 64px;
}

.service-title {
  margin-top: 64px;
}

.box-service-list {
  margin-top: 80px;
}

.list-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.service-list-text {
  border-right: 0.5px solid rgba(2, 2, 2, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-text {
  font-size: 22px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.box-service-list {
  background-color: rgb(201, 201, 201);
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0.5px solid rgba(2, 2, 2, 0.8);
  width: 100%;
  background-color: white;
}

.service-price-box {
  text-align: center;
}

.service-price {
  font-size: 26px;
  color: rgb(249, 143, 51);
}

.service-list-info {
  gap: 10px;
  display: flex;
  /* gap: 20px; */
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.service-text-info {
  font-size: 19px;
}

.service-info-box {
  text-align: center;
}

.service-button {
  width: 160px;
  height: 40px;
  background-color: rgb(255, 140, 0);
  border-radius: 10px;
  font-size: 18px;
}

.top-form {
  margin-top: 64px;
  margin-bottom: 64px;
  padding-left: 200px;
  padding-right: 200px;
}

.cart__form {
  background: #F7F6F6;
  border-radius: 20px;
  grid-column: span 4;
  padding-left: 27px;
  padding-right: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.cart__button {
  background-color: #eb5656;
  display: block;
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: all 0.4s;
  border-style: inset;
  border-color: rgba(160, 160, 160, 0.642);
}
.cart__button_form {
  align-self: center;
  width: 290px;
  height: 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  animation: bounce-top 0.9s 1s 1 both;
}
.cart__button:hover {
  background: #eb5656;
  color: #030303;
}
.cart .form__box {
  padding-top: 35px;
}
.cart .form__box {
  display: flex;
  flex-direction: column;
  gap: 41px;
  background-color: rgb(244, 244, 244);
}
.cart .form__total {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  margin-top: 23px;
  height: 29px;
  margin-bottom: -23px;
}
.cart .form__item {
  border: none;
  border-bottom: 1px solid #CACDD8;
  background: transparent;
  outline: none;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart .form__item::-moz-placeholder {
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.cart .form__item::placeholder {
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.cart .form__heading {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-top: 42px;
}

.select-form {
  border: none;
  height: 50px;
  background: #F7F6F6;
  border-bottom: 1px solid #CACDD8;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.select-form {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-form::-ms-expand {
  display: none;
}

.select-form:hover {
  border-color: #888;
}

.select-form:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-form option {
  font-weight: normal;
}

*[dir=rtl] .select-form, :root:lang(ar) .select-form, :root:lang(iw) .select-form {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.top-contacts {
  margin-top: 64px;
  margin-bottom: 64px;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-link {
  display: flex;
  flex-direction: column;
}

.cart-contacts {
  background: white;
  padding: 0;
}

.contacts-link {
  width: 433px;
}

.button-contacts {
  width: 433px;
  border: none;
  height: 50px;
  background: #d7d1d1;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.doc-button-box {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.doc__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 102, 102, 0.665);
  width: 300px;
  height: 60px;
  text-align: center;
  color: rgb(5, 5, 5);
  text-decoration: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  outline: none;
  border-style: inset;
  border-color: rgba(160, 160, 160, 0.642);
  font-family: sans-serif;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(217, 217, 217, 0.5803921569);
  background-image: url("data:image/svg+xml"), linear-gradient(to bottom, rgba(220, 111, 9, 0.337254902) 0%, rgba(229, 229, 229, 0.3882352941) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.doc__button:hover {
  background: rgba(59, 57, 57, 0.1);
}

.contact-title {
  margin-bottom: 30px;
}

.rekv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rec {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 800px;
  border: 1px solid #aaa;
}

.rec-item {
  grid-column: span 4;
  height: 45px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.rec-item-big {
  grid-column: span 8;
}/*# sourceMappingURL=style.css.map */